#gyro-graphic {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
}

#dial {
    transform-origin: 50% 416px;
}

#gyro-label {
    position: absolute;
    color: red;
    font-size: 1vw;
}