.no-camera {
    position: absolute;
    width: 60%;
    height: 90%;
    bottom: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 19%;
    top: 12%;
}

.camera {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    background-size: 100%;
}